 /******************************************* */
    // Colors
    
    $Color1:#fefdf8;
    $Color2:#131A1C;  
    $Color3:#69D1CA; 
    $Color4:#ffffff; 
    $Color5:#7BA88C; 

/******************************************* */