@mixin transition() {
    transition: all .7s;
  }

 // Action Bar Inheritancy  
  %ActiveItem{
    height: 100%;
    background-color:transparent;
  }

  %ActiveItemH2{
     color: $Action_Active_Color;
     font-size: $Action_Active_Font_Size;
     line-height: $Action_Active_Line_Height;
     text-align: left;
     font-family:  $FontFamilyHeaderRegular;
     letter-spacing: 0px;
     margin-bottom: 0px;
     font-weight: 100;
  }

  %ActiveItemH4{
    color: $Action_Active_Color;
    font-size: .9em;
    line-height: 1em;
    text-align: left;
    font-family:  $FontFamilyHeaderRegular;
    font-weight: 100;
 }

  %Activei{
    color: $Action_Active_Color;
    font-size: $Action_Active_Font_Size;
    line-height: $Action_Active_Line_Height;
    text-align: left;
    width: 100%; 
    float: unset;
    opacity: 1;
    display: block;
  }
  


.GridItem{  

    padding: $Item_Padding;
    overflow: hidden; 
    flex-basis: 24%;
    margin: .5%;
    

    .ItemOuter{ 
        position: relative;
        -webkit-border-radius: $Item_BorderRadius;
        border-radius: $Item_BorderRadius;
        -webkit-box-shadow: $Item_BoxShadow;
        box-shadow: $Item_BoxShadow; 
        border:$Item_Border;
        
        .CardCTA{
            display: flex;
            

            a.GridItemCTA{
                width: 100%;
                display: inline-block;
                background-size: cover;
                background-position: center center;
                cursor: pointer;
                position: relative;

               
               
                .ActionBar{
                   // background-color:$Action_Active_BgColor;
                    //background-image: URL("https://gdn-cdn.s3.amazonaws.com/embed/2018/09/amex-image-grid/assets/images/Grid_Images/dots.png");
                    //background-position: center bottom;
                   // background-size: cover;
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    //padding: 3% 3%;
                    height: 100%;
                    text-align: left;
                    border-bottom: 5px solid $Color5;
                    @include transition();

                    background-image: url(https://gdn-cdn.s3.amazonaws.com/embed/2019/07/get-cultured/assets/images/HeaderGradient.png);
                    background-position: bottom;
                    background-repeat: repeat-x;
                    background-size: auto 50%;

                    .iconLabel{
                            position: absolute;
                            bottom: 3%;
                            left: 3%;
                        
                            @include transition();
                            h2{
                                @extend %ActiveItemH2;
                                @include transition();
                               // text-shadow: 1px 1px 5px #2f2f2f;
                            }
                            h4{
                                @extend %ActiveItemH4;
                                @include transition();
                               // text-shadow: 1px 1px 5px #2f2f2f;
                            }
                            i{
                                display:table-column-group;
                                @include transition();
                            }
                    }
                }
                .ActionBar::before {
                    background-color: rgba(123, 168, 140, .7);;
                    height: 0%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                    position: absolute;
                }
            }
        }

        .CardCTA:hover{
            a.GridItemCTA{
                .ActionBar{               
                    @extend  %ActiveItem;
                    border-bottom: 0rem solid rgba(123, 168, 140, .7);
                    .iconLabel{
                        @include transition();
                        bottom: 30%;
                        
                        h2{
                            @include transition();
                            @extend %ActiveItemH2;
                          
                        }
                        i{
                            @include transition();
                            @extend   %Activei;
                        }
                    }
                }
                .ActionBar::before {
                    background-color: rgba(123, 168, 140, .8);;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    content: "";
                    position: absolute;
                    @include transition();
                }
            }
        }
    }
}

.GridItem.ActiveItem{
    .ItemOuter{
            border:1px solid $Action_Active_Border_Color;
        .CardCTA{ a.GridItemCTA{
            .ActionBar{
                @extend  %ActiveItem;
                border-bottom: 0rem solid rgba(123, 168, 140, .7);
                .iconLabel{
                    @include transition();
                    bottom: 30%;
                    
                    h2{
                        @include transition();
                        @extend %ActiveItemH2;
                      
                    }
                    i{
                        @include transition();
                        @extend   %Activei;
                    }
                }
            }
            .ActionBar::before {
                background-color: rgba(123, 168, 140, .8);;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                content: "";
                position: absolute;
                @include transition();
            }
        }}
    }   
}



@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .GridItem{ 
        .ItemOuter{
            .CardCTA{
                a.GridItemCTA{
                    //height:($Item_Height/1.5);

                    .iconLabel{ 
                        h2{

                        }
                        h4{

                        }
                    }
                }
            }
        }
        .CardCTA:hover{
            a.GridItemCTA{
                .ActionBar{ 
                    border-bottom: 11rem solid rgba(123, 168, 140, .7) !important;
                }}}
    }
}

@media only screen  and (max-width : 768px) {
    .GridItem{ 
        flex-basis: 49%;
        margin: .5%;
    }
}
@media only screen and (min-width : 576px) and (max-width : 768px) {
    .GridItem{ 

        .ItemOuter{
            .CardCTA{
                a.GridItemCTA{
                    //height:($Item_Height/1.5);
                    .iconLabel{ 
                        h2{}
                        h4{}
                    }
                }
            }
        }
    }
}

/* Medium Phones ----------- */
@media only screen and (min-width : 480px) and (max-width : 576px) {
    .GridItem{ 
        
        .ItemOuter{
            .CardCTA{
                a.GridItemCTA{
                   // height:($Item_Height/1.5);
                }
            }
        }
    }
}

/* Small Phones ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    
    .GridItem{ 
            .ItemOuter{
                .CardCTA{
                    a.GridItemCTA{
                      //  height:($Item_Height/1.5);
                        .iconLabel{ 
                            h2{}
                            h4{}
                        }
                    }
                }
            }
    }
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) { 
    .GridItem{ 
        .ItemOuter{
            .CardCTA{
                a.GridItemCTA{
                   // height:($Item_Height/1.5);
                    .iconLabel{ 
                        h2{}
                        h4{}
                    }
                }
            }
        }
}
}