.CardBottomCTA{
    margin: 25px 0 15px 20px;
    
    p{
        color:$Color1;
        font-size:.9em;
        line-height: 1.3em;
        padding-bottom: 1px; 
        letter-spacing:1px;
        font-weight:100;

        a{
      
        }
    }
}