.Counter{
    font-family: $FontFamilyHeader;
    color:$Color2;
    position: absolute;
    width:30%;
    bottom: 0%;
    right: 3%;
    line-height:2em;
    text-align:center;

    display: none;
}